:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  background-color: #32302f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  overflow: clip;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

img,
svg,
[class*="icon"] {
  pointer-events: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

.draggable {
  -webkit-app-region: drag;
}

a,
.no-drag {
  -webkit-app-region: no-drag;
  user-drag: none;
  -webkit-user-drag: none;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #32302f;
}

::-webkit-scrollbar-thumb {
  background: #504945;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #665c54;
}
